<html>
<head>
    <title>Vue</title>
    <style type="text/css">
        .pago, .nenhumaContaPagar{color:green}
        .npago, .algumaContaPagar{color:red}
        .nenhumaConta{color:#d3d3d3 !important;}
    </style>
</head>
<body id="app">
<h1>{{ title }} </h1>
<h3 class="{{ statusClass }}">{{ status }}</h3>

<nav>
    <ul>
        <li v-for="o in menus"><a href="#" @click.prevent="showView(o.id)">{{ o.name }}</a></li>
    </ul>
</nav>
<div v-if="activedView==0">
    <table border="1px" cellpadding="5px">
        <thead>
            <tr>
                <th>#</th>
                <th>Vencimento</th>
                <th>Nome</th>
                <th>Valor</th>
                <th>Paga</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="(i, o) in bills">
                <td>{{ i+1 }}</td>
                <td>{{ o.date_due }}</td>
                <td>{{ o.name }}</td>
                <td>{{ o.value | currency 'R$' }}</td>
                <td :class="{'pago': o.done, 'npago' : !o.done}">{{ o.done | doneLabel }}</td>
                <td>
                    <a href="#" @click.prevent="loadBill(o)">Editar</a>
                    <a href="#" @click.prevent="deleteBill(o)">Excluir</a>
                    <a href="#" @click.prevent="payBill(o)" v-if="o.done==0">Pagar</a>
                    <a href="#" @click.prevent="NpayBill(o)" v-if="o.done==1">Estornar</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div v-if="activedView==1">
    <form @submit.prevent="submit" name="form">
        <label for="">Vencimento:</label> <input type="text" v-model="bill.date_due"><br>
        <label for="">Nome:</label> 
            <select v-model="bill.name">
                <option v-for="o in names" value="{{ o }}">{{ o }}</option>
            </select><br>
        <label for="">Valor:</label> <input type="text" v-model="bill.value"><br><br>
        <input type="submit" value="Enviar">
    </form>
</div>

<script type="text/javascript" src="node_modules/vue/dist/vue.min.js"></script>
<script type="text/javascript" src="app.js"></script>
</body>
</html>